@charset "UTF-8";
html {
    font-size:62.5%;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1.5;
    font-size:1.4rem;
    word-wrap : break-word;
    overflow-wrap : break-word;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
    font-family: source-han-serif-japanese, "ＭＳ Ｐ明朝", MS PMincho,"ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, serif;
    letter-spacing: 1px;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

* {
	box-sizing: border-box;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
}

.clearfix:after,
div:after,
ul:after,
article:after,
section:after {
    content: "";
    display: block;
    clear: both;
}

li {
    list-style-type: none;
}

input, button, textarea, select {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/* input type="password" のみ */
input[type="password"] {
	property: value;
}

/* input type="radio" のみ */
input[type="radio"] {
	property: value;
}

/* input type="checkbox" のみ */
input[type="checkbox"] {
	property: value;
}

/* input type="reset" のみ */
input[type="reset"] {
	property: value;
}

/* input type="submit" のみ */
input[type="submit"] {
	property: value;
}

/* input type="text" のみ */
input[type="text"],
textarea {
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
}
input[type="text"]:focus,
textarea:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
}


input,
select,
option,
textarea {
	border:1px solid #aaa;
	background-color:#fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	padding:4px 8px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	line-height:24px;
	font-size:1.5rem;
	width:100%;
}
.name {
	width:49%;
}
.fname {
	float:left;
}
.lname {
	float:right;
}
input:focus,
textarea:focus,
select:focus {
	border:1px solid #C6C7C9 !important;
	background-color:#F9F9FA;
	outline:none;
}
select {
	background:url(../img/form/arrow01.png) no-repeat right center;
	background-size:22px 32px;
	padding-right:28px !important;
	cursor: pointer;
}

/*input[type="submit"] {
	margin:30px auto 0;
	display:block;
	background-color: #1DB1D8;
	padding:8px 64px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color: #fff;
	text-decoration: none;
	font-size:16px;
	text-align: center;
	width: auto;
	min-width:inherit;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
input[type="submit"]:hover {
	background-color: #199ECD;
	color: #fff;
	cursor: pointer;
	transition: all 0.1s linear;
}*/
input[type="submit"] {
	border-width: 0px;
	margin:30px auto 0;
	display:block;
	padding:8px 64px;
	text-align: center;
	width: auto;
	min-width:inherit;
    transition: all 0.2s linear;
}
input[type="submit"]:hover {
	cursor: pointer;
	transition: all 0.2s linear;
    opacity: 0.75;
}


input[type=radio], input[type=checkbox] {
	display: none;
}

.radio, .checkbox {
	box-sizing: border-box;
	-webkit-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
	position: relative;
	display: inline-block;
	margin: 0 8px 4px 0;
	padding: 6px 12px 6px 42px;
	border-radius: 3px;
	background-color: #FFFFFF;
	vertical-align: middle;
	cursor: pointer;
}
.radio:hover, .checkbox:hover {
	background-color: #F6FDFF;
}
.radio:hover:after, .checkbox:hover:after {
	border-color: #00ABC1;
}
.radio:after, .checkbox:after {
	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
	position: absolute;
	top: 50%;
	left: 15px;
	display: block;
	margin-top: -10px;
	width: 16px;
	height: 16px;
	border: 2px solid #bbb;
	border-radius: 3px;
	content: '';
}

.radio:before {
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	position: absolute;
	top: 50%;
	left: 20px;
	display: block;
	margin-top: -5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #00ABC1;
	content: '';
	opacity: 0;
}
input[type=radio]:checked + .radio:before {
	opacity: 1;
}

.checkbox:before {
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	position: absolute;
	top: 50%;
	left: 21px;
	display: block;
	margin-top: -7px;
	width: 5px;
	height: 9px;
	border-right: 3px solid #00ABC1;
	border-bottom: 3px solid #00ABC1;
	content: '';
	opacity: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
input[type=checkbox]:checked + .checkbox:before {
	opacity: 1;
}
