@charset "UTF-8";
/* スマートフォン用CSS */

html {
    font-size:3vw;
}

.hidden-sp {
	display:none !important;
}
.hidden-pc {
	display: inherit !important;
}

#wrapper {
    min-width:auto;
}

.inner {
	width:100%;
    padding:0 7.48%;
}

/* ------------------------------------------------------------ header */
.header {
    width:100%;
    min-width: auto;
    padding:1.93% 2.65%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
}
.header .headerlogo {
    width:7.48%;
}
.header .obi.open {
    width:100%;
    height:100vh;
    background-color: #0A6139;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.header .obi.open .headerlogo {
    display: none;
}
.header ul {
    display:none;
    position: absolute;
	top: 45%;
    left:50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.header li {
    float:none;
    font-size:2.5rem;
    text-align: center;
    width:100%;
    padding:5% 0;
}
.header li:first-of-type:before {
    content:none;
}
.header li:after {
    content:none;
}
.header li a {
    color:#fff;
    text-decoration: none;
    padding:0;
}
.header li a {
    position: relative;
    padding:0;
}
.header li a:after {
    content:"";
    display: none;
}
.header li a:hover:after {
    display: none;
}
.header .gn-top {
    display:block;
}

/* ------------------------------------------------------------ slider */
.main_visual {
    position: relative;
}
.main_visual ul {
    width:100%;
}
.main_visual li {
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height:calc(100vh - 100px);
    min-height: 360px;
    background-attachment:inherit;
}
.main_visual li.slide01 {
    background-image: url(../img/home/mv01_sp.jpg);
    background-size: cover;
}
.main_visual li.slide02 {
    background-image: url(../img/home/mv02_sp.jpg);
    background-size: cover;
}
.main_visual li.slide03 {
    background-image: url(../img/home/mv03_sp.jpg);
    background-size: cover;
}
.main_visual li.slide04 {
    background-image: url(../img/home/mv04_sp.jpg);
    background-size: cover;
}
.main_visual .mvcatch {
    display:block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color:#fff;
    width:100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size:3.2rem;
    text-shadow: 0px 0px 5px #000;
    letter-spacing: 3px;
}


/* ------------------------------------------------------------ footer */
.footer {
    padding-bottom:1em;
    min-width:inherit;
    width:100%;
}
.footer .inner {
    padding:0 7.48%;
    text-align: center;
}
.footer .left-block {
    float:none;
    padding:8% 0;
}
.footer .left-block a {
    display: inline-block;
    width:8.8%;
    float:none;
    vertical-align: top;
}
.footer .left-block p {
    padding:0 0 0 5%;
    float:none;
    font-size:0.875rem;
    line-height: 1.6;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.footer .right-block {
    float:none;
    text-align: center;
    padding-top:5%;
}
.footer .right-block ul {
    display:inline-block;
    position: static;
    top:auto;
    right:auto;
    font-size: 0.875rem;
}
.footer .right-block li {
    float:none;
    display: inline-block;
    padding:0.4em 0;
}
.footer .right-block li:first-of-type:before,
.seiwa-wp .footer .right-block li.gn-recruit:before{
    content:"|";
}
.footer .right-block li:after {
    content:"|";
}
.footer .right-block li a {
    color:#fff;
    text-decoration: none;
    padding:0 1.2em;
    position: relative;
}
.footer .right-block li a:after {
    content:"";
    border-bottom:1px solid #fff;
    width:100%;
    width:calc(100% - 2.4em);
    display: block;
    position: absolute;
    bottom:2px;
    left:1.2em;
    transition: all 0.1s linear;
    opacity: 0;
}
.footer .right-block li a:hover:after {
    bottom:-2px;
    opacity: 1;
    transition: all 0.1s linear;
}

.footer .right-block .footer-contact_pc {
    display: none;
}
.footer .footer-contact_sp {
    display: block;
}
.footer .footer-contact_sp a {
    font-size:1rem;
    display: inline-block;
    min-width: 43.58%;
    text-align: center;
    background-color: #fff;
    color:#0A6139;
    text-decoration: none;
    letter-spacing: 1px;
    padding:0.5em 2em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.footer .copyright {
    float: none;
    clear: both;
    padding-top:2em;
    font-size:1rem;
    width:100%;
    text-align: center;
}
.footer .gn-works {
    clear: left;
}


/* ------------------------------------------------------------ btn */
a.btn1  {
    background-color: #0A6139;
    color:#fff;
    text-decoration: none;
    font-size:1.2rem;
    display: inline-block;
    letter-spacing: 1px;
    padding:0.5em 2em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    min-width: 160px;
    text-align: center;
}


/* ------------------------------------------------------------ title */
.line-title {
    position: relative;
    padding:0;
    margin:7.48% 0;
}
.line-title p {
	width:100%;
    padding:0 7.48% !important;
}
.line-title .spanouter {
    display:block;
    background-image: url(../img/common/line01.png);
    background-repeat: repeat-x;
    background-position: left bottom;
}
.line-title .spaninner {
    padding-right: 0.6em;
    font-size: 2rem;
}
.line-title:after {
    content:"";
    display:block;
    position: absolute;
    height:5px;
    width:50%;
    bottom:0;
    background-image: url(../img/common/line01.png);
    background-repeat: repeat-x;
    right:0;
}

.line-title.right .spanouter {
    text-align: right;
}
.line-title.right .spaninner {
    padding-left:12px;
}
.line-title.right:after {
    left:0;
}


/* ------------------------------------------------------------ home */
#home #article {
    padding-bottom:2.4em;
}
#home section {
    padding-bottom:1.5em;
}
#home section .home-catch {
    font-size:2rem;
    padding-top:0.2em !important;
}
#home .section02 .home-catch {
    text-align: left;
}
#home .section03 .home-catch2 {
    font-size:2rem;
    font-weight: normal;
}
#home section p {
    font-size:1.4rem;
    padding-top:1.2em;
    text-align: left;
}

#home .leftimage,
#home .rightbox,
#home .rightimage,
#home .leftbox {
    width:100%;
    float:none;
}
#home .inner {
    text-align: center;
}
#home .section00 .btn1,
#home .section01 .btn1,
#home .section02 .btn1,
#home .section03 .btn1,
#home .section04 .btn1 {
    position: relative;
    margin:2em auto 0;
    top:auto;
    left:auto;
    bottom:auto;
    right:auto;
    width: 56.8%;
}
#home .section03 .outer {
    background-image: url(../img/home/img03_sp.jpg);
    background-size: contain;
    padding: 34.7% 0 0;
    text-align: center;
}
#home .section03 .inner {
    display:block;
    width: 85.04%;
    margin:0 auto;
    padding:5% 0;
}
#home .section03 .inner p {
    font-size:1.3rem;
    line-height: 2;
    padding:1em 0 0;
    text-align: center;
}
#home .section00,
#news .section00 {}
#home .section00 .inner,
#news .section00 .inner {
    width: 85.04%;
    padding:3em 0 0;
}
#home .section00 h2,
#news .section00 h2 {
    font-size:2.6rem;
}
#home .section00 .newstable {
    padding-top: 0.5em;
}
#news .section00 .newstable {
    padding: 0 80px 0 0;
}
#home .section00 .newstable table,
#news .section00 .newstable table {
    width:100%;
}
#home .section00 .newstable th,
#home .section00 .newstable td,
#news .section00 .newstable th,
#news .section00 .newstable td {
    border-bottom: 1px solid #d0ddd6;
    padding:1.5em 0 0.6em;
    text-align: left;
}
#home .section00 .newstable th,
#news .section00 .newstable th {
    font-size: 1.1rem;
    text-align: left;
    width:28%;
    display: inline-block;
    border-bottom: 0px;
}
#home .section00 .newstable td,
#news .section00 .newstable td {
    font-size:1.4rem;
    display: block;
    padding:0 0 0.8em;
}
#home .section00 .newstable td.newscat,
#news .section00 .newstable td.newscat {
    width:70%;
    display: inline-block;
    border-bottom: 0px;
    padding-bottom:0;
}
#home .section00 .newstable td.newscat a,
#news .section00 .newstable td.newscat a {
    display: block;
    width:45%;
    font-size:1rem;
    padding:0.1em 0;
    margin:0;
}
#home .section04 .inner {
    width: 85.04%;
    margin:3em auto 0;
    padding:2em 0 0;
    text-align: right;
    background: url(../img/home/bg01.jpg) no-repeat left top;
    background-size: contain;
}
#home .section04 .home-catch {
    font-size: 2rem;
    color: #000;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 5px;
}
#home .section04 .inner p {
    font-size: 1.2rem;
}
#home .section04 .inner div {
    padding-top:3em;
    text-align: center;
}



/* ------------------------------------------------------------ common */
section {
    background-color: #fff;
}
.pagemv {
    height:360px;
    margin-bottom:0;
}
.pagetitle {
    font-size:3rem;
}
.pagetitle span {
    font-size:1.6rem;
}
.pagetitle span:before {
    height:5px;
    background-size: contain;
    margin-bottom:1%;
}
.pagetitle-static {
    font-size:3rem;
    padding:12% 0 5%;
}
.pagetitle-static span {
    font-size:1rem;
}
.pagetitle-static span:before {
    height:5px;
    background-size: contain;
    margin-bottom:1%;
}
.parallax {
    background-attachment:inherit;
    width:100%;
}
.bottompadding {
    background-color: #fff;
    padding-bottom:20%;
    height:0;
    width:100%;
}


/* ------------------------------------------------------------ aboutus */
#aboutus #article {
    padding-bottom:0;
}
#aboutus .section01 {
    padding-top:15%;
}
#aboutus .pagemv {
    background-image: url(../img/aboutus/mv01.jpg);
    background-size: cover;
    background-attachment: inherit;
}
#aboutus .section01 {}
#aboutus .leftimage,
#aboutus .rightbox,
#aboutus .rightimage,
#aboutus .leftbox {
    width:100%;
    float:none;
}
#aboutus .box {
    border:1px solid #11603A;
    padding:12% 6% 8%;
    position: relative;
    margin-top:8px;
}
#aboutus .box .boxtheme {
    font-size: 2rem;
}
#aboutus .box .boxtitle {
    font-size:2rem;
    letter-spacing: 4px;
    padding:0 0 8%;
}
#aboutus .box .boxtext {
    font-size:1.3rem;
    line-height: 2;
    letter-spacing: 1px;
}
#aboutus .box .sign {
    text-align: right;
    padding-top:15px;
    font-size:1.1rem;
}
#aboutus .box .sign span {
    font-size:1.3rem;
    display: inline-block;
    padding-left:1em;
}
#aboutus .section01 .inner .box {
    margin-top:15%;
}
#aboutus .section02 {
    padding:3% 0 20%;
}
#aboutus .section02 .inner {
    position: relative;
}
#aboutus .section02 .inner .box {
    position: relative;
	top: auto;
	left: auto;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
    padding-bottom: 8%;
}
#aboutus .parallax {
    height:0;
    background-image:none;
    padding-top: 40%;
}
#aboutus .parallax:before {    
    background:url(../img/aboutus/img03.jpg) no-repeat center center;
    background-size: cover;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

#aboutus .section03 {
    text-align: center;
    padding: 12% 0;
}
#aboutus .section03 .en {
    color: #11603A;
    font-size:2rem;
    letter-spacing: 2px;
    padding-bottom:5%;
}
#aboutus .section03 dl {
    font-size: 1.2rem;
    line-height: 2;
    
}
.map {
    position: relative;
}
.map .mapbtn {
    display: inline-block;
    background-color: #11603A;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color:#fff;
    font-size:1rem;
    padding:0.5em 2em;
    position: absolute;
    left:10px;
    top:10px;
    z-index: 1;
    text-decoration: none;
}
#map {
    width:100%;
    height:400px;
}


/* ------------------------------------------------------------ ourbusiness */
#ourbusiness #article {
    padding-bottom:0;
}
#ourbusiness .section01 {
    padding-top:15%;
}
#ourbusiness .pagemv {
    background-image: url(../img/ourbusiness/mv01.jpg);
    background-size: cover;
    background-attachment: inherit;
}
#ourbusiness .leftimage {
    width:86.83%;
    float:none;
}
#ourbusiness .leftsubimage {
    width:61.44%;
    float:right;
    position: relative;
    right:auto;
    bottom:auto;
    margin-top:-18%;
}
#ourbusiness .rightbox {
    width:100%;
    float:none;
    clear: both;
}
#ourbusiness .rightimage {
    width:86.83%;
    float:none;
    float: right;
}
#ourbusiness .rightsubimage {
    width:61.44%;
    float:left;
    position: relative;
    left:auto;
    bottom:auto;
    margin-top:-18%;
}
#ourbusiness .leftbox {
    width:100%;
    float:none;
    clear: both;
}
#ourbusiness .box {
    padding:7.48% 6% 10%;
    position: relative;
}
#ourbusiness .boxtheme {
    font-size:1.95rem;
    padding:2% 0 8%;
}
#ourbusiness .section02 .boxtheme {
    font-size:1.95rem;
    padding:2% 0 5%;
    text-align: right;
}
#ourbusiness .box .boxtitle {
    font-size:2rem;
    letter-spacing: 6px;
    padding:0 0 24px;
}
#ourbusiness .box .boxsubtitle {
    font-size:1.5rem;
    padding:0 0 6%;
    font-weight: normal;
}
#ourbusiness .box .boxtext {
    font-size:1.3rem;
    line-height: 2;
    letter-spacing: 2px;
}
#ourbusiness .section02 {
    padding:18% 0;
}
#ourbusiness .parallax {
    background-image: none;
}
#ourbusiness .parallax:before {    
    background:url(../img/ourbusiness/parallax.jpg) no-repeat center center;
    background-size: cover;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}
#ourbusiness .parallax .inner {
    padding:12% 0;
    text-align: center;
    color:#fff;
}
#ourbusiness .parallax .inner .ptitle {
    font-size:2rem;
    padding:0 0 16px;
}
#ourbusiness .parallax .inner p {
    font-size:1.3rem;
    line-height: 2.2;
}


/* ------------------------------------------------------------ recruit */
#recruit #article {
    padding-bottom:20%;
}
#recruit .pagemv {
    width:100%;
    max-width: auto;
    margin:0 auto;
    height: auto;
}
#recruit .leftimage {
    width:100%;
    float:none;
}
#recruit .rightbox {
    width:100%;
    float:none;
}
#recruit .line-title .spaninner {
    font-size: 1.6rem;
    top: 1px;
}
#recruit .row:first-of-type {
    padding:0 0 18%;
}
#recruit .row:last-of-type {
    padding:0 0 10%;
}
#recruit .box {
    padding:20px 0 0;
}
#recruit .box .boxtitle {
    font-size:1.8rem;
    padding:0 0 3%;
}
#recruit .box .boxtext {
    font-size:1.3rem;
    line-height: 2;
}
#recruit table {
    width:100%;
    border-top:1px solid #11603A;
    margin-bottom:112px;
}
#recruit table tr {
    border-bottom:1px solid #11603A;
}
#recruit table th,
#recruit table td {
    font-size:1.3rem;
    vertical-align: top;
    padding:24px 0;
    line-height: 2;
}
#recruit table th {
    width:26.6%;
}
#recruit .mail {
    margin-top:-10%;
    line-height: 2;
    font-size:1.3rem;
}


/* ------------------------------------------------------------ contact */
#contact #article {
    padding-bottom:20%;
}
#contact table {
    margin-bottom:20%;
}
#contact table tr {
    border-bottom:1px solid #11603A;
}
#contact table th,
#contact table td {
    font-size:1.2rem;
    width:100%;
    display:block;
}
#contact table th {
    line-height: 2;
    padding:4% 0 1%;
}
#contact table td {
    padding:0 0 8%;
}
#contact table th span {
    color:#c00;
    display: inline-block;
    padding-left:1em;
}
#contact .contact {
    font-size:1.3rem;
    text-align: center;
    padding:5% 0;
    line-height: 2;
}
#contact textarea {
    width:100%;
    height:196px;
}
#contact .pparea {
    padding:1em 1em 0;
}
#contact .pparea dt,
#contact .pparea dd {
    font-size: 0.875rem;
}
#contact .pparea dt {
    padding:0.2em 0;
    font-weight: bold;
}
#contact .pparea dd {
    padding:0 0 24px 24px;
    line-height: 1.8;
}
#contact .pparea dd li {
    list-style-type: disc;
    list-style-position: inside;
}
#contact .submit_button {
    width:75%;
    height:0;
    padding-top:13%;
    background-color: #09613A;
    background-image: url(../img/contact/btn.png);
    background-size: contain;
}
#contact .submit_button:hover {
    background-image: url(../img/contact/btn_hover.png);
}


/* ------------------------------------------------------------ thanks */
#thanks .section01 .inner {
    padding-bottom:20%;
}
#thanks .thanks {
    padding:20% 0;
}


/* ------------------------------------------------------------ spmenu */
#sp-menu-btn {
    display:block;
    width:12%;
    height:0;
    padding-top:12%;
    background-image: url(../img/common/sp-menu-btn.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top:1.5%;
    right:2.65%;
}
.obi.open #sp-menu-btn {
    background-image: url(../img/common/sp-menu-btn_close.png);
}



/* ------------------------------------------------------------ news */
#news #article {
    background-color: #fff;
    padding-bottom: 20%;
    width: 100%;
}
#news .section00 .inner {
    width:100%;
    padding:16px 7.48% 0;
}
#news .section00 .newstable {
    padding: 0;
    width:100%;
    float:none;
}
#news .section00 .sidemenu {
    padding: 0;
    float:none;
    width:100%;
}
#news .section00 .sidemenu dl {
    margin:2em 0;
}
#news .section00 .sidemenu dt {
    font-size: 1.4rem;
}
#news .section00 .sidemenu dd {
    padding:0 1em;
}
#news .section00 .sidemenu dd:first-of-type {
    padding-top:0.5em;
}
#news .section00 .sidemenu dd:last-of-type {
    padding-bottom:0.5em;
}
#news .section00 .sidemenu a {
    padding:0.3em 0 0.3em 1em;
    font-size: 1.4rem;
}
#news .newscontents {
    font-size:1.4rem;
    line-height: 1.8;
}
#news .newscontents dl {}
#news .newscontents dt.newsdate {
    font-size:1.4rem;
}
#news .newscontents dd.newscat a {
    font-size:1.1rem;
    padding:0.1em 1em;
    margin-left: 0.6em;
}
#news .newscontents .newstitle {
    font-size:2rem;
    line-height: 1.5;
    padding:0.2em 0 1em;
}
#news .newscontents h2,
#news .newscontents h3 {
    font-weight: bold;
    padding-bottom:0.5em;
}
#news .newscontents h2 {
    font-size:1.8rem;
}
#news .newscontents h3 {
    font-size:1.6rem;
}
#news .newscontents .wp-block-image {
    display: block;
    margin:1em 0 2em;
}
#news .newscontents .wp-block-image img {
    width:100%;
}
#news .newscontents .wp-block-image figcaption {
    font-size:1rem;
    padding-top:0.1em;
}
#news .newscontents p {}



/* ------------------------------------------------------------ works */
#works #article {
    padding-bottom: 0;
}
#works #article.single {
    padding-top:3em;
}
#works #article .inner {
    padding-bottom:20%;
}
#works .slider-wrapper {
    padding:2.5em 0 2.5em;
}
#works .works-slider-nav li {
    width:18%;
    padding:0.3em 0em;
}
#works .slick-prev:before {
    width:12px;
    height:12px;
}
#works .slick-next:before {
    width:12px;
    height:12px;
}
#works .works-title {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 4px;
    padding-bottom:0.4em;
}
#works dl  {
    padding:1em 0;
    width:100%;
}
#works dt {
    float: none;
    width: 110px;
    font-size:1.2rem;
    margin-bottom:0.3em;
}
#works dt span {
    border: 1px solid #0A6139;
    color: #0A6139;
    display: block;
    text-align: center;
}
#works dd {
    width:100%;
    float:none;
    font-size:1.4rem;
}
#works .backbtn {
    text-align: center;
    padding-top:120px;
}
#works .backbtn.works-index {
    padding:0;
}

#works .works-boxes {}
#works .works-box {
    width:80%;
    margin:0 auto;
    float:none;
    padding:1.5em 0 2em;
}
#works .works-box:nth-of-type(4n+1) {
    clear: left;
}
#works .works-indeximage {
    width:100%;
    height:0;
    padding-top:67%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    transition: all 0.1s linear;
}
#works .works-indeximage:hover {
    opacity: 0.75;
}
#works .works-indextitle {
    font-size:1.7rem;
    letter-spacing: 3px;
    padding:0.8em 0 0;
}
#works .works-box ul {
    padding:0.3em 0 0.8em;.
}
#works .works-box li {
    font-size:1.4rem;
}
#works .detailbtn {}
#works .detailbtn a {}


