@charset "UTF-8";
/* タブレット用CSS */

.hidden-sp {
	display:inherit !important;
}
.hidden-pc {
	display:none !important;
}

#wrapper {
    width:1200px;
    overflow: hidden;
}

.main_visual li,
.pagemv,
.parallax {
    background-attachment:inherit;
}
